@font-face {
    font-family: 'geomanistmedium';
    src: url('/assets/fonts/geomanistmedium-webfont.woff2') format('woff2'),
         url('/assets/fonts/geomanistmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fontawesome';
    src: url('/assets/fonts/fontawesome-webfont.woff') format('woff2'),
         url('/assets/fonts/fontawesome-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}



body {
    font-family: 'geomanistmedium';
}


/* form elementen */
legend {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    padding-left: 20px;
}
label {
    font-size: 14px;
    font-weight: normal;
    margin-left: 20px;
    display: none;
}
input {
    width: 80%;
    margin-left: 20px;
    border: 1px solid #D7D8D8;
    border-radius: 4px;
    padding: 12px 10px;
    font-family: 'geomanistmedium','FontAwesome'
    
}
form.form-horizontal {
    margin-top: 20%;
    background-color: #F3F3F3;
    border-radius: 10px;
}
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

/* form Groepen */
.form-group {
    width: 49%;
    display: inline-block;
    margin-bottom: 20px;
}

/* Submit button */
.col-md-8 input[type="submit"] {
    width: 100%;
    border: none;
    background-color: #CB2B2C;
    color: #fff;
    margin: 0;
    font-family: 'geomanistmedium';
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.form-group:last-child {
    width: 100%;
    border: none;
    color: #fff;
    margin-bottom: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Video */
.content {
  position: relative;
  top: 30%;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
}

.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}


